.services{
    text-align: center;
}
.service{
    float:left;
    width:30%;
}
.clearfix{
    clear:both;
}
p{
    color: gray;
}

i{
    color:white;
    background-color: yellow;
    height: 25px;
    width:25px;
}